
@{
    ViewBag.Title = "CheckList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<section id="checklist" class="features section-bg">
     <div class="container">
         < <div class="section-title">
             <h2 data-aos="fade-in">Check List</h2>
             <p data-aos="fade-in">
                 This is a checklist for your friend when facing an emergency evacuation. Do not just leave with nothing in the middle night!!!
             </p>
         </div>
         <div>
             <ul>
                 <li>
                     <input id="box1" type="checkbox" />
                     <label for="box1">Call the police</label>
                 </li>
                 <li>
                     <input id="box2" type="checkbox" />
                     <label for="box2">Bring your personal identification documents </label>
                 </li>
                 <li>
                     <input id="box3" type="checkbox" />
                     <label for="box3">Common Medicine</label>
                 </li>
                 <li>
                     <input id="box4" type="checkbox" />
                     <label for="box4">Contact close friend tell them where you go and your plan</label>
                 </li>
                 <li>
                     <input id="box5" type="checkbox" />
                     <label for="box5">Choose a closest hotel or to a friends house</label>
                 </li>
                 <li>
                     <input id="box6" type="checkbox" />
                     <label for="box6">Call Uber or use taxi/ If you have a car, drive safe  (share trip with your friend)</label>
                 </li>
                 <li>
                     <input id="box7" type="checkbox" />
                     <label for="box7">Walk out of your home</label>
                 </li>

             </ul>
         </div>
     </div>
</section>