
@{
    ViewBag.Title = "HelpSuggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="helpSuggestion" class="faq section-bg">
    <!-- /main sidebar -->
    <div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
        <div class="sidebar-content">
            <div class="sidebar-category sidebar-default">
                <div class="sidebar-user">
                    <div class="category-content">
                        <h6 style="font-size:20px">Support your friend</h6>
                    </div>
                </div>
            </div>
            <!-- /Sidebar Category -->
            <div class="sidebar-category sidebar-default">
                <div class="category-content">
                    <ul id="fruits-nav" class="nav flex-column">
                        <li class="nav-item">
                            <a href="~/quizs/ViolenceSign" class="nav-link " style="font-size:15px">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Signs of family violence
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/quizs/newQuiz" class="nav-link" style="font-size:15px">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Know their condition
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/quizs/HelpSuggestion" class="nav-link active" style="font-size:15px">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                How can I help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/quizs/CheckList" class="nav-link" style="font-size:15px">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                checklist
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/quizs/SupportGroup" class="nav-link" style="font-size:15px">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                Support group
                            </a>
                        </li>
                    </ul>
                    <!-- /Nav -->
                    <!-- /Category Content -->
                </div>
            </div>

        </div>
    </div>

    <div class="content-wrapper">
        <div class="row clearfix">
            <div class="col-xs-12">

                <div class="section-title">
                    <p data-aos="fade-in" style="text-align:left"><a href="~/Home">Home</a>&nbsp>> Support your friend >> How can I help</p>
                    <h2 data-aos="fade-in" class="aos-init">Support your friends</h2>
                    <p data-aos="fade-in" class="aos-init">How can you help your friends/ family to stay away from family violence?</p>
                </div>

                <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up">
                    <div class="col-lg-5">
                        <i class="bx bx-caret-right"></i>
                        <h4> Talk to your friends/family members</h4>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-size :20px">
                            As a supportive friend, you can positively talk to your friends/family members, 
                            helping them to decide and making changes. It is important to break their isolation and reach out.
                        </p>
                    </div>
                </div><!-- End F.A.Q Item-->

                <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-5">
                        <i class="bx bx-caret-right"></i>
                        <h4>Let your friends/family members go of feeling responsible</h4>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-size :20px">
                            It is also important to let your friends/family members know that domestic & family violence and abuse is not caused by something they have done or not done. It is a choice by their partner to exert control over you and it is a crime. In most cases they will not stop the violence without professional help.

                        </p>
                    </div>
                </div><!-- End F.A.Q Item-->

                <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-5">
                        <i class="bx bx-caret-right"></i>
                        <h4> Know their rights</h4>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-size :20px">
                            Your friends/family members can seek legal advice and practical and emotional support from their local services
                        </p>
                    </div>
                </div><!-- End F.A.Q Item-->

                <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="300">
                    <div class="col-lg-5">
                        <i class="bx bx-caret-right"></i>
                        <h4>Contact a support group</h4>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-size :20px">
                            Organizations that support survivors of domestic & family violence can help your friends/family members connect to others who have experienced similar situations.
                            This sharing can offer them direct help and hope.&nbsp<a href="~/quizs/SupportGroup">Find more support groups</a>
                        </p>
                    </div>
                </div><!-- End F.A.Q Item-->

                <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="400">
                    <div class="col-lg-5">
                        <i class="bx bx-caret-right"></i>
                        <h4>Ask professions looking after your friends/family members </h4>
                    </div>
                    <div class="col-lg-7">
                        <p style="font-size :20px">
                            Find a supportive GP or health worker for your friends/family members and tell them  what’s happening.
                        </p>
                    </div>
                </div><!-- End F.A.Q Item-->

            </div>
        </div>
    </div>
</section>
