
@{
    ViewBag.Title = "HelpSuggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="helpSuggestion" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in" class="aos-init">Suoport your friends</h2>
            <p data-aos="fade-in" class="aos-init">How you can help your friends/ family to stay away from family violence?</p>
        </div>

        <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4> Talk to your friends/family members</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    As a supportive friend, you can positively talk to your friends/family members, helping them to deciding and making changes.
                    It is important to break their isolation and reach your out.
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4>Let your friends/family members go of feeling responsible</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    It is also important to let your friends/family members know that domestic & family violence and abuse is not caused by something they have done or not done. It is a choice by their partner to exert control over you and it is a crime. In most cases they will not stop the violence without professional help.

                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4> Know their rights</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    Your friends/family members can seek legal advice and practical and emotional support from their local services
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="300">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4>Contact a support group</h4>
            </div>
            <div class="col-lg-7">
                <p>
                    Organizations that support survivors of domestic & family violence can help your friends/family members connect to others who have experienced similar situations.
                    This sharing can offer them direct help and hope.&nbsp<a href="#contact">Find more support groups</a>
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="400">
            <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4>Ask professions looking after your friends/family members </h4>
            </div>
            <div class="col-lg-7">
                <p>
                    Find a supportive GP or health worker for your friends/family members and tell them  what’s happening.
                </p>
            </div>
        </div><!-- End F.A.Q Item-->

    </div>
</section>

<section id="contact" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in" class="aos-init aos-animate">Contact group</h2>
            <p data-aos="fade-in" class="aos-init aos-animate"></p>
        </div>

        <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" style="position: relative; height: 742.452px;">

            <div class="col-lg-4 col-md-6 portfolio-item " style="position: absolute; left: 0px; top: 0px;">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/contactGroup/1.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/assets/img/contactGroup/1detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="icofont-plus-circle"></i></a>
                        <a href="http://whwest.org.au" title="Go to website" target="_blank"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <p>
                            (03) 9689 9588
                            <br />
                            info@whwest.org.au
                            fvassist@whwest.org.au
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 319.984px; top: 0px;">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/contactGroup/2.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/assets/img/contactGroup/2detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="icofont-plus-circle"></i></a>
                        <a href="http://www.cnv.org.au" title="Go to website" target="_blank"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <p>
                            1800 884 292<br />
                            reception@cnv.org.au
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 639.968px; top: 0px;">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/contactGroup/3.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/assets/img/contactGroup/3detial.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="icofont-plus-circle"></i></a>
                        <a href="http://domesticviolence.com.au" title="Go to website" target="_blank"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <p>
                            (07) 5591 4222,
                            (07) 3807 6226
                            info@domesticviolence.com.au
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 0px; top: 247.484px;">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/contactGroup/4.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/assets/img/contactGroup/4detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="icofont-plus-circle"></i></a>
                        <a href="http://www.kildonan.org.au" title="Go to website" target="_blank"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <p>
                            03) 8401 0100 or 1800 002 992 (toll free)
                            info@kildonan.org.au
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 319.984px; top: 247.484px;">
                <div class="portfolio-wrap">
                    <img src="~/assets/img/contactGroup/5.png" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="~/assets/img/contactGroup/5detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="icofont-plus-circle"></i></a>
                        <a href="http://wishin.org.au"  target="_blank" title="Go to website"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <p>
                            (03) 8692 2020
                            admin@wishin.org.au
                        </p>
                    </div>
                </div>
            </div>

            @*<div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 639.968px; top: 247.484px;">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="App 3"><i class="icofont-plus-circle"></i></a>
                        <a href="#" title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 0px; top: 494.968px;">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Card 1"><i class="icofont-plus-circle"></i></a>
                        <a href="#" title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 319.984px; top: 494.968px;">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Card 3"><i class="icofont-plus-circle"></i></a>
                        <a href="#" title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 639.968px; top: 494.968px;">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Web 3"><i class="icofont-plus-circle"></i></a>
                        <a href="#" title="More Details"><i class="icofont-link"></i></a>
                    </div>
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                    </div>
                </div>
            </div>*@

        </div>

    </div>
</section>