
@{
    ViewBag.Title = "HelpSuggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="helpSuggestion" class="faq section-bg">
    <div class="sidebar-container" style="position:absolute">
        <ul class="sidebar-navigation">
            <li class="header" style="font-size:20px; padding-top:80px"><b>Support your freind</b></li>
            <li>
                <a href="~/quizs/ViolenceSign">
                    Signs of family violence
                </a>
            </li>
            <li><a href="~/quizs/Index"> Know their condition</a></li>

            <li><a href="~/quizs/HelpSuggestion" style="color:#e65c37"> How I can help</a></li>
            <li><a href="~/quizs/CheckList"> Check list</a></li>
            <li><a href="~/quizs/SupportGroup">Support group</a></li>
        </ul>
    </div>

    <div class="content-container">

        <div class="container-fluid">

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron" style="background:#ffffff">
                <div class="container">

                    <div class="section-title">
                        <h2 data-aos="fade-in" class="aos-init">Support your friends</h2>
                        <p data-aos="fade-in" class="aos-init">How you can help your friends/ family to stay away from family violence?</p>
                    </div>

                    <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up">
                        <div class="col-lg-5">
                            <i class="bx bx-caret-right"></i>
                            <h4> Talk to your friends/family members</h4>
                        </div>
                        <div class="col-lg-7">
                            <p  style="font-size :20px">
                                As a supportive friend, you can positively talk to your friends/family members, helping them to deciding and making changes.
                                It is important to break their isolation and reach your out.
                            </p>
                        </div>
                    </div><!-- End F.A.Q Item-->

                    <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-5">
                            <i class="bx bx-caret-right"></i>
                            <h4>Let your friends/family members go of feeling responsible</h4>
                        </div>
                        <div class="col-lg-7">
                            <p  style="font-size :20px">
                                It is also important to let your friends/family members know that domestic & family violence and abuse is not caused by something they have done or not done. It is a choice by their partner to exert control over you and it is a crime. In most cases they will not stop the violence without professional help.

                            </p>
                        </div>
                    </div><!-- End F.A.Q Item-->

                    <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-5">
                            <i class="bx bx-caret-right"></i>
                            <h4> Know their rights</h4>
                        </div>
                        <div class="col-lg-7">
                            <p  style="font-size :20px">
                                Your friends/family members can seek legal advice and practical and emotional support from their local services
                            </p>
                        </div>
                    </div><!-- End F.A.Q Item-->

                    <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="300">
                        <div class="col-lg-5">
                            <i class="bx bx-caret-right"></i>
                            <h4>Contact a support group</h4>
                        </div>
                        <div class="col-lg-7">
                            <p  style="font-size :20px">
                                Organizations that support survivors of domestic & family violence can help your friends/family members connect to others who have experienced similar situations.
                                This sharing can offer them direct help and hope.&nbsp<a href="~/quizs/SupportGroup">Find more support groups</a>
                            </p>
                        </div>
                    </div><!-- End F.A.Q Item-->

                    <div class="row faq-item d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="400">
                        <div class="col-lg-5">
                            <i class="bx bx-caret-right"></i>
                            <h4>Ask professions looking after your friends/family members </h4>
                        </div>
                        <div class="col-lg-7">
                            <p  style="font-size :20px">
                                Find a supportive GP or health worker for your friends/family members and tell them  what’s happening.
                            </p>
                        </div>
                    </div><!-- End F.A.Q Item-->

                </div>
            </div>

        </div>
    </div>
</section>
