
@{
    ViewBag.Title = "Sidebar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="contact" class="portfolio section-bg">
        <div class="sidebar-container" style="position:absolute">
            <ul class="sidebar-navigation">
                <li class="header" style="font-size:20px; padding-top:80px"><b>Support your freind</b></li>
                <li>
                    <a href="~/quizs/ViolenceSign">
                        Signs of family violence
                    </a>
                </li>
                <li><a href="~/quizs/Index"> Know their condition</a></li>

                <li><a href="~/quizs/HelpSuggestion"> How I can help</a></li>
                <li><a href="~/quizs/CheckList"> Check list</a></li>
                <li><a href="~/quizs/SupportGroup" style="color:#e65c37">Support group</a></li>
            </ul>
        </div>

        <div class="content-container">

            <div class="container-fluid">

                <!-- Main component for a primary marketing message or call to action -->
                <div class="jumbotron" style="background:#ffffff">
                    <div class="container">

                        <div class="section-title">
                            <h2 data-aos="fade-in" class="aos-init aos-animate">Contact group</h2>
                            <p data-aos="fade-in" class="aos-init aos-animate">You can check the information of these support groups below or directly visit their websites by chicking the connection icon on the pictures.</p>
                        </div>

                        <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" style="position: relative; height: 742.452px;">

                            <div class="col-lg-4 col-md-6 portfolio-item " style="position: absolute; left: 0px; top: 0px;">
                                <div class="portfolio-wrap">
                                    <img src="~/assets/img/contactGroup/1.png" class="img-fluid" alt="">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/contactGroup/1detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                        <a href="http://whwest.org.au" title="Go to their website" target="_blank"><i class="bx bx-paperclip"></i></a>
                                    </div>
                                    <div class="portfolio-info">
                                        <p style="font-size :20px">
                                            (03) 9689 9588
                                            <br />
                                            info@whwest.org.au
                                            fvassist@whwest.org.au
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 319.984px; top: 0px;">
                                <div class="portfolio-wrap">
                                    <img src="~/assets/img/contactGroup/2.png" class="img-fluid" alt="">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/contactGroup/2detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                        <a href="http://www.cnv.org.au" title="Go to their website" target="_blank"><i class="bx bx-paperclip"></i></a>
                                    </div>
                                    <div class="portfolio-info">
                                        <p style="font-size :20px">
                                            1800 884 292<br />
                                            reception@cnv.org.au
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 639.968px; top: 0px;">
                                <div class="portfolio-wrap">
                                    <img src="~/assets/img/contactGroup/3.png" class="img-fluid" alt="">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/contactGroup/3detial.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                        <a href="http://domesticviolence.com.au" title="Go to their website" target="_blank"><i class="bx bx-paperclip"></i></a>
                                    </div>
                                    <div class="portfolio-info">
                                        <p style="font-size :20px">
                                            (07) 5591 4222,
                                            (07) 3807 6226
                                            info@domesticviolence.com.au
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 0px; top: 247.484px;">
                                <div class="portfolio-wrap">
                                    <img src="~/assets/img/contactGroup/4.png" class="img-fluid" alt="">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/contactGroup/4detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                        <a href="http://www.kildonan.org.au" title="Go to their website" target="_blank"><i class="bx bx-paperclip"></i></a>
                                    </div>
                                    <div class="portfolio-info">
                                        <p style="font-size :20px">
                                            03) 8401 0100 or 1800 002 992 (toll free)
                                            info@kildonan.org.au
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 319.984px; top: 247.484px;">
                                <div class="portfolio-wrap">
                                    <img src="~/assets/img/contactGroup/5.png" class="img-fluid" alt="">
                                    <div class="portfolio-links">
                                        <a href="~/assets/img/contactGroup/5detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                        <a href="http://wishin.org.au" target="_blank" title="Go to their website"><i class="bx bx-paperclip"></i></a>
                                    </div>
                                    <div class="portfolio-info">
                                        <p style="font-size :20px">
                                            (03) 8692 2020
                                            admin@wishin.org.au
                                        </p>
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 639.968px; top: 247.484px;">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="App 3"><i class="icofont-plus-circle"></i></a>
                            <a href="#" title="More Details"><i class="icofont-link"></i></a>
                        </div>
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 0px; top: 494.968px;">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Card 1"><i class="icofont-plus-circle"></i></a>
                            <a href="#" title="More Details"><i class="icofont-link"></i></a>
                        </div>
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 319.984px; top: 494.968px;">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Card 3"><i class="icofont-plus-circle"></i></a>
                            <a href="#" title="More Details"><i class="icofont-link"></i></a>
                        </div>
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 639.968px; top: 494.968px;">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Web 3"><i class="icofont-plus-circle"></i></a>
                            <a href="#" title="More Details"><i class="icofont-link"></i></a>
                        </div>
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                        </div>
                    </div>
                </div>*@

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

