
@{
    ViewBag.Title = "Sidebar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="contact" class="portfolio section-bg">

        <!-- /main sidebar -->
        <div id="sidebar-main" class="sidebar sidebar-default sidebar-separate sidebar-fixed">
            <div class="sidebar-content">
                <div class="sidebar-category sidebar-default">
                    <div class="sidebar-user">
                        <div class="category-content">
                            <h6 style="font-size:20px">Support your friend</h6>
                        </div>
                    </div>
                </div>
                <!-- /Sidebar Category -->
                <div class="sidebar-category sidebar-default">
                    <div class="category-content">
                        <ul id="fruits-nav" class="nav flex-column">
                            <li class="nav-item">
                                <a href="~/quizs/ViolenceSign" class="nav-link" style="font-size:15px">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    Signs of family violence
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/quizs/Index" class="nav-link" style="font-size:15px">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    Know their condition
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/quizs/HelpSuggestion" class="nav-link " style="font-size:15px">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    How can I help
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/quizs/CheckList" class="nav-link" style="font-size:15px">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    checklist
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/quizs/SupportGroup" class="nav-link active" style="font-size:15px">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    Support group
                                </a>
                            </li>
                        </ul>
                        <!-- /Nav -->
                        <!-- /Category Content -->
                    </div>
                </div>

            </div>
        </div>

        <div class="content-wrapper">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <div class="section-title">
                        <p data-aos="fade-in" style="text-align:left"><a href="~/Home">Home</a>&nbsp>> Support your friend >> Support groups</p>
                        <h2 data-aos="fade-in" class="aos-init aos-animate">Contact group</h2>
                        <p data-aos="fade-in" class="aos-init aos-animate">Here are additional support groups. You can check the information of these support groups below or directly visit their websites by clicking the connection icon on the pictures.</p>
                    </div>

                    <div class="row portfolio-container aos-init aos-animate" data-aos="fade-up" style="position: relative; height: 742.452px;">

                        <div class="col-lg-4 col-md-6 portfolio-item " style="position: absolute; left: 0px; top: 0px;">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/contactGroup/1.png" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/contactGroup/1detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                    <a href="http://whwest.org.au" title="Go to their website" target="_blank"><i class="bx bx-paperclip"></i></a>
                                </div>
                                <div class="portfolio-info">
                                    <p style="font-size :20px">
                                        (03) 9689 9588
                                        <br />
                                        info@whwest.org.au
                                        fvassist@whwest.org.au
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 319.984px; top: 0px;">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/contactGroup/2.png" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/contactGroup/2detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                    <a href="http://www.cnv.org.au" title="Go to their website" target="_blank"><i class="bx bx-paperclip"></i></a>
                                </div>
                                <div class="portfolio-info">
                                    <p style="font-size :20px">
                                        1800 884 292<br />
                                        reception@cnv.org.au
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 639.968px; top: 0px;">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/contactGroup/3.png" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/contactGroup/3detial.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                    <a href="http://domesticviolence.com.au" title="Go to their website" target="_blank"><i class="bx bx-paperclip"></i></a>
                                </div>
                                <div class="portfolio-info">
                                    <p style="font-size :20px">
                                        (07) 5591 4222,
                                        (07) 3807 6226
                                        info@domesticviolence.com.au
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 0px; top: 247.484px;">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/contactGroup/4.png" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/contactGroup/4detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                    <a href="http://www.kildonan.org.au" title="Go to their website" target="_blank"><i class="bx bx-paperclip"></i></a>
                                </div>
                                <div class="portfolio-info">
                                    <p style="font-size :20px">
                                        03) 8401 0100 or 1800 002 992 (toll free)
                                        info@kildonan.org.au
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 319.984px; top: 247.484px;">
                            <div class="portfolio-wrap">
                                <img src="~/assets/img/contactGroup/5.png" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="~/assets/img/contactGroup/5detail.png" data-gall="portfolioGallery" class="venobox vbox-item" title="More Details"><i class="bx bx-plus-circle"></i></a>
                                    <a href="http://wishin.org.au" target="_blank" title="Go to their website"><i class="bx bx-paperclip"></i></a>
                                </div>
                                <div class="portfolio-info">
                                    <p style="font-size :20px">
                                        (03) 8692 2020
                                        admin@wishin.org.au
                                    </p>
                                </div>
                            </div>
                        </div>

                        @*<div class="col-lg-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 639.968px; top: 247.484px;">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="App 3"><i class="icofont-plus-circle"></i></a>
                                    <a href="#" title="More Details"><i class="icofont-link"></i></a>
                                </div>
                                <div class="portfolio-info">
                                    <h4>App 3</h4>
                                    <p>App</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 0px; top: 494.968px;">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Card 1"><i class="icofont-plus-circle"></i></a>
                                    <a href="#" title="More Details"><i class="icofont-link"></i></a>
                                </div>
                                <div class="portfolio-info">
                                    <h4>Card 1</h4>
                                    <p>Card</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="position: absolute; left: 319.984px; top: 494.968px;">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Card 3"><i class="icofont-plus-circle"></i></a>
                                    <a href="#" title="More Details"><i class="icofont-link"></i></a>
                                </div>
                                <div class="portfolio-info">
                                    <h4>Card 3</h4>
                                    <p>Card</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="position: absolute; left: 639.968px; top: 494.968px;">
                            <div class="portfolio-wrap">
                                <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                                <div class="portfolio-links">
                                    <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Web 3"><i class="icofont-plus-circle"></i></a>
                                    <a href="#" title="More Details"><i class="icofont-link"></i></a>
                                </div>
                                <div class="portfolio-info">
                                    <h4>Web 3</h4>
                                    <p>Web</p>
                                </div>
                            </div>
                        </div>*@

                    </div>

                </div>
            </div>

        </div>
    </section>

