
@{
    ViewBag.Title = "ViolenceSign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="violenceSign" class="features section-bg">

        <div class="sidebar-container" style="position:absolute">
            <ul class="sidebar-navigation">
                <li class="header" style="font-size:20px; padding-top:80px"><b>Support your freind</b></li>
                <li>
                    <a href="~/quizs/ViolenceSign" style="color:#e65c37">
                        Signs of family violence
                    </a>
                </li>
                <li><a href="~/quizs/Index"> Know their condition</a></li>

                <li><a href="~/quizs/HelpSuggestion"> How I can help</a></li>
                <li><a href="~/quizs/CheckList"> Check list</a></li>
                <li><a href="~/quizs/SupportGroup">Support group</a></li>
            </ul>
        </div>

        <div class="content-container">


            <div class="container-fluid">

                <!-- Main component for a primary marketing message or call to action -->
                <div class="jumbotron" style="background:#ffffff">
                    <div class="container">



                        <div class="section-title">
                            <h2 data-aos="fade-in">Warning signs of family abuse </h2>
                            <p data-aos="fade-in">
                                Are your friends/ family feeling worried about their relationship but not sure if there is abuse involved? Take a few minutes to let them check in the WARNING SIGNS below.
                            </p>
                        </div>

                        <div class="row content">
                            <div class="col-md-5" data-aos="fade-right">
                                <img src="~/assets/img/helpsuggestion.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-7 pt-4" data-aos="fade-left">
                                <p style="color:goldenrod">
                                    Does your partner, your boyfriend or girlfriend, your friend, your carer, or a family member:
                                </p>
                                <ul class="font-italic" style="font-size :18px">
                                    <li>Make you feel uncomfortable or afraid?</li>
                                    <li>Often put you down, make fun of you, or make you feel worthless?</li>
                                    <li>Always check up on what you’re doing or where you are going?</li>
                                    <li>Try to stop you from seeing your own friends or family?</li>
                                    <li>Make you feel that no one will believe you if you say you are unhappy?</li>
                                    <li>Stop you from having any money yourself or tell you what you can and can’t spend money on? </li>
                                    <li>
                                        Refuse to help with your personal support needs when you ask?

                                    </li>
                                    <li>Make you feel afraid to disagree or say ‘no’ to them?</li>
                                    <li> Tell other people you make things up and easily get confused?</li>

                                </ul>
                            </div>
                        </div>

                        <div class="row content">
                            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                                <img src="~/assets/img/helpsuggestion2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">

                                <ul class="font-italic" style="font-size :18px">
                                    <li>
                                        - Scare or hurt you by being violent (eg. hitting, choking, smashing things, breaking or removing disability aids,
                                        locking you in, driving dangerously to frighten you)?
                                    </li>
                                    <li> - Pressure, force or trick you into doing sexual things that you don’t want to do?</li>
                                    <li> Insist in always going in to see the doctor with you?</li>
                                    <li> Threaten you with losing your children?</li>
                                    <li>Threaten you that you will have no one to help you if you leave the relationship?</li>
                                    <li> Threaten you that will be placed in an residential accommodation service? </li>
                                    <li>
                                        Threaten to hurt you if you say you want to end the relationship?

                                    </li>
                                    <li> Have your children heard or seen these things or been hurt themselves?</li>
                                </ul>



                                <p style="color:#213B52">
                                    If they have answered ‘yes’ to any of these, then there are signs that they are not being treated right, or that they are being abused. If they don’t feel safe, respected and cared for, then something isn’t right.

                                    Please let your friends/ family know that they have the right to feel safe and to live a life free from fear.

                                </p>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </section>
<!-- End Features Section -->
