
@{
    ViewBag.Title = "FSupport3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="features" class="features section-bg">

    <div class="container">
        <div class="section-title">
            <p data-aos="fade-in" style="text-align:left"><a href="~/Home">Home</a>>> Switch mood</p>
            <br />
            <h2 data-aos="fade-in">Switch mood </h2>

        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/FurtherSupport/FS3-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left">
                <h3>Daily shopping platform</h3>
                <p>
                    This is the top daily sales information integrating website. It includes all the top brands and all useful categories.
                    <a href="https://www.finder.com.au/todays-top-online-deals" target="_blank">Click here to go to their website.</a>
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="~/assets/img/FurtherSupport/FS3-3.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">

                <h3>Penguin Parade</h3>
                <p>
                    ‘Take a waddle on the wild side’ at Phillip Island’s world-famous Penguin Parade;
                    the only commercial venue in the world where you can see penguins in their natural habitat. Rug up,
                    take a seat and watch as little penguins wobble up Summerland Beach every evening at sunset. Choose between the general viewing bleachers,
                    Penguin Plus tiered seating or see the penguins at ground level in the underground viewing area.
                    <a href="https://www.penguins.org.au/attractions/penguin-parade/" target="_blank">Click here to go to their website.</a>
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/FurtherSupport/FS3-4.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" data-aos="fade-left">
                <h3>Skydive Melbourne</h3>
                <p>
                    Take a 15,000-foot leap of faith over Melbourne, and tick tandem skydiving off your bucket list.
                    Melbourne’s only beach skydive will have you freefalling over St Kilda for a thrilling 60 seconds at a speed of 200 kilometres per hour.
                    On the way down, not only will you experience an unforgettable sense of elation, but you’ll also be treated to sweeping views of the city.
                    Skydive Melbourne, 42A Marine Parade, St Kilda VIC, Australia, +61 3 1300 663 634
                    <a href="https://www.skydive.com.au/melbourne/" target="_blank">Click here to go to their website.</a>
                </p>
            </div>
        </div>


        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="~/assets/img/FurtherSupport/FS3-6.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">

                <h3>Comedy and shows</h3>
                <p>
                    ‘City of Melbourne’ can offer you the latest shows' information. Click and book right now.
                    <a href="https://whatson.melbourne.vic.gov.au/things-to-do/entertainment/comedy" target="_blank">Click here to go to their website.</a>
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/FurtherSupport/FS3-7.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" data-aos="fade-left">
                <h3>Little sweets</h3>
                <p>
                    Our recipe together with your hope and happiness, the special dessert will bring you a wonderful future.
                    <a href="https://Taste.com.au " target="_blank">Click here to go to their website.</a>

                </p>
            </div>
        </div>

    </div>
</section>

