
@{
    ViewBag.Title = "FSupport2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Features Section ======= -->
<section id="features" class="features section-bg">

    <div class="container">
        <div class="section-title">
            <p data-aos="fade-in" style="text-align:left"><a href="~/Home">Home</a> &nbsp >> Further Support >> Increase safety level</p>
            <br />
            <h2 data-aos="fade-in">Increase safety level</h2>

        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/FurtherSupport/FS2-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left">
                <h3>
                    Other ways to increase your friend's safety:
                </h3>
                <ul style="font-size:20px">
                    <li>-Let supportive friends (could be you), family and neighbours know about what is happening to your friend.</li>
                    <li>-Keep a list of telephone numbers for family or friends who can assist your friend in an emergency.</li>
                    <li>-Remember that if your friend has a re-dial button on her telephone, anyone else in the house can push redial to find out who your friend has just rung.</li>
                    <li>
                        -Keep important items somewhere safe in case your friend needs to leave in a hurry (for example, important documents, such as birth certificates,
                        bank books, tax file numbers, passports; a spare set of keys; medication; and a change of clothes).
                    </li>
                    <li>-Let your friend’s children or relatives know what to do in an emergency (where to go, and who to telephone. Give them the numbers for the police, neighbours, relatives).</li>
                    
                </ul>
            </div>

            <div class="row content">
                <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                    <img src="~/assets/img/FurtherSupport/FS2-2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                    <ul style="font-size:20px">
                        <li>-Have in mind a place to which your friend can go quickly, if necessary.</li>
                        <li>
                            -Your friend can contact safe steps Family Violence Response Centre to find free and safe place for your friend and her children to stay (Victoria)
                            Ph. 1800 015 188 (toll free, available 24/7). There are 27 women’s refuges across Victoria that provide crisis accommodation and support.
                            Workers are available at the refuges to help your friend. To keep all residents safe,
                            most Women’s Refuges cannot be contacted directly. You can get help or accommodation by ringing safe steps on 1800 015 188.
                        </li>
                        <li>-Have an excuse prepared so your friend can leave quickly if her partner becomes threatening.</li>
                        <li>-Contact a support service to discuss other safety ideas. <a href="~/quizs/SupportGroup">See support groups.</a></li>
                    </ul>
                </div>
            </div>

        </div>

        

    </div>
</section>
<!-- End Features Section -->
