
@{
    ViewBag.Title = "FSupport1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Features Section ======= -->
<section id="features" class="features section-bg">

    <div class="container">
        <div class="section-title">
            <p data-aos="fade-in" style="text-align:left"><a href="~/Home">Home</a> &nbsp >> Further Support >> Intervention Order</p>
            <br />
            <h2 data-aos="fade-in">Intervention Order</h2>
            
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/FurtherSupport/FS1-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left">
                <h3>
                    What is the Intervention Order?
                </h3>
                <ul style="font-size:20px">
                    <li>
                        An Intervention Order is a court order that can protect your friend from further violence or stalking.
                    </li>
                    <li>
                        If you believe that the violence is likely to happen to your friend again,
                        you can engage your friend to apply for an Intervention Order at her local Magistrate’s Court.
                    </li>
                    <li>
                        Your friend can either do this by herself or ask the police to do it on her behalf.
                    </li>
                    <li>
                        The police are obliged to take out an Intervention Order for your friend whenever the safety, welfare,
                        or property of a family member appears to be endangered by another (Police Standing Orders).
                    </li>
                    <li>
                        Intervention Orders contain conditions aimed at preventing future violence, such as making it illegal for the offender from entering or coming near your friend’s home area, your friend’s place of work or the children’s school.
                    </li>
                </ul>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="~/assets/img/FurtherSupport/FS1-2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h3>
                    How to apply for an Intervention Order?
                </h3>
                    <ul style="font-size:20px">
                        <li>1.Apply for an Intervention Order at a Magistrates Court or ask the police to do it on your friend’s behalf.</li>
                        <li>2.The ‘defendant’ is notified (the ‘defendant’ is the person who your friend is asking the Intervention Order on).</li>
                        <li>3.At a court hearing in the Magistrates Court, the magistrate will consider the evidence (which can include your friend’
                        s story, any witnesses to the violence (could be you), photos, written material, doctor’s reports of injuries, and statements from police)
                        . The Magistrate will also listen to the defendant’s version of events. The Magistrate will then decide whether to make the order,
                        and what conditions will be placed on it.</li>
                        <li>
                            4.If your friend needs the order urgently, she can get in ‘interim’ order to provide temporary protection.
                            This will last until the final Intervention Order is heard in court.
                        </li>
                        <li>You can get more information about Intervention Orders from 
                        <a href="https://www.legalaid.vic.gov.au/find-legal-answers/family-violence-intervention-orders/applying-for-intervention-order" target="_blank">Legal Aid Victoria</a> 
                        that tells you how to apply for an Intervention Order in the Magistrates Court.</li>
                    </ul>
            </div>
        </div>

    </div>
</section>
<!-- End Features Section -->
