@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--==========================
      Intro Section
    ============================-->
<section id="intro" style="padding-top:0">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url('/assets/img/services-1.jpg');">

                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Prevent violence, support your friend</h2>
                            <p>
                                1 in 6 Australian women have been subjected, since the age of 15, to domestic violence. It is very important to help them to be safe!
                            </p>
                            <a href="~/quizs/ViolenceSign" class="btn-get-started scrollto">Get started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/assets/img/services-1.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Raise Awareness</h2>
                            <p>
                                Why is it important to support people suffering family violence? What you need to know?
                            </p>
                            <a href="~/quizs/ViolenceSign" class="btn-get-started scrollto">Get started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/assets/img/services-2.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Know their condition and support</h2>
                            <p>
                                How can you help your friends/ family to evaluate their current condition and help them stay away from family violence?

                            </p>
                            <a href="~/quizs/ViolenceSign" class="btn-get-started scrollto">Get started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url('/assets/img/services-3.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Find a safe place </h2>
                            <p>
                                Searching for women shelters in our website.
                            </p>
                            <a href="~/quizs/ViolenceSign" class="btn-get-started scrollto">Get started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style=" background-image: url('/assets/img/services-4.jpg');">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2>Further support </h2>
                            <p>
                                Don't let your friends/ family fall into violence relationship again, finding out what they can do next?
                            </p>
                            <a href="~/quizs/ViolenceSign" class="btn-get-started scrollto">Get started</a>
                        </div>
                    </div>
                </div>


            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <a class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""></a>

        </div>
    </div>
</section><!-- #intro -->



