
@{
    ViewBag.Title = "information3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ======= Features Section ======= -->
<section id="features" class="features section-bg">
    <div class="container">
        <div class="section-title">
            <h2 data-aos="fade-in">Features</h2>
            <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/features-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left">
                <h3>
                    Why older women are at high risk of homelessness
                    when suffer from family violence?
                    .
                </h3>
                <p class="font-italic">
                    According to the government
                    report, in Australia, the
                    number of older women
                    accessing homelessness
                    services is increasing. In
                    2017–18 over 13,800 older
                    women accessed specialist
                    homeless services, a 63%
                    increase in five years.
                </p>
                <p>
                    The main reasons older women seek
                    assistance often relate to domestic and family violence, housing
                    issues and financial difficulties
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="~/assets/img/features-2.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h3> </h3>
                <p class="font-italic">
                    Most older women accessing
                    homelessness services seek general
                    services (82% of women) but many
                    also need domestic violence assistance
                    (35%), long-term accommodation
                    (31%) and tenure assistance
                    (29%).However, few existing services
                    are specifically designed to meet the
                    needs of older women.
                </p>
                <p>
                    In this case, if you have the concern about suffering family violence
                    as an elder woman, do not be afraid, try to get support from our
                    service or other organizations. Please remember you are not alone,
                    you don’t have to fact this situation by yourself.
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/features-3.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" data-aos="fade-left">
                <h3>Sunt consequatur ad ut est nulla consectetur reiciendis animi voluptas</h3>
                <p>Cupiditate placeat cupiditate placeat est ipsam culpa. Delectus quia minima quod. Sunt saepe odit aut quia voluptatem hic voluptas dolor doloremque.</p>
                <ul>
                    <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                    <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="icofont-check"></i> Facilis ut et voluptatem aperiam. Autem soluta ad fugiat.</li>
                </ul>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="~/assets/img/features-4.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h3>Quas et necessitatibus eaque impedit ipsum animi consequatur incidunt in</h3>
                <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End Features Section -->
