
@{
    ViewBag.Title = "information3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ======= Features Section ======= -->
<section id="features" class="features section-bg">
    <div class="container">
        <div class="section-title">
            <p data-aos="fade-in" style="text-align:left"><a href="~/Home">Home</a> &nbsp>>&nbsp <a href="~/Home/RaiseAwarness">Raise awareness</a> &nbsp >> Why are elderly women at risk</p>
            <h2 data-aos="fade-in">Why are elderly women at risk</h2>
            <p data-aos="fade-in"></p>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/info/3.1.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left">
                <h3>
                    Why are elderly women at high risk of homelessness when they suffer from family violence?
                </h3>
                <p class="font-italic">
                    According to the government
                    report, in Australia, the
                    number of older women
                    accessing homelessness
                    services is increasing. In
                    2017–18 over 13,800 older
                    women accessed specialist
                    homeless services, a 63%
                    increase in five years.
                </p>
                <p>
                    The main reasons older women seek
                    assistance often relate to domestic and family violence, housing
                    issues and financial difficulties
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="~/assets/img/info/3.2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h3> </h3>
                <p class="font-italic">
                    Most older women accessing
                    homelessness services seek general
                    services (82% of women) but many
                    also need domestic violence assistance
                    (35%), long-term accommodation
                    (31%) and tenure assistance
                    (29%).However, few existing services
                    are specifically designed to meet the
                    needs of older women.
                </p>
                <p>
                    In this case, if you have the concern about suffering family violence
                    as an elder woman, do not be afraid, try to get support from our
                    service or other organizations. Please remember you are not alone,
                    you don’t have to face this situation by yourself.
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="btn-group" role="group" aria-label="Basic example" style="display:table;margin:0 auto;">
                <a role="button" class="btn btn-secondary btn-lg" href="~/Home/Information2"><  Previous</a>
                <a class="btn btn-secondary btn-lg" href="~/Home/RaiseAwarness" role="button">Raise Awareness Menu</a>
                <a class="btn btn-secondary btn-lg" href="~/Home/Information4" role="button">Next  ></a>
            </div>
        </div>

    </div>
</section>
<!-- End Features Section -->
