
@{
    ViewBag.Title = "information4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Features Section ======= -->
<section id="features" class="features section-bg">
    <div class="container">
        <div class="section-title">
            <h2 data-aos="fade-in">
                Let us help
            </h2>
            <p data-aos="fade-in">
                If your friend if suffering a rough time, do not be nervous, try to use our service to
                know her condition better and learn how to deal with such situation.
            </p>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/info/4.1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left">
                <h3>
                    Other Places to go for help:
                </h3>
                <ul  style="font-size :20px">
                    <li>
                        For immediate help if you are in
                        danger, call the police on 000
                    </li>
                    <li>
                        The National Sexual Assault, Family
                        & Domestic Violence Counselling Line:
                        1800RESPECT (1800 737 732)
                        Their website:
                        https://www.1800respect.org.au/
                    </li>
                    <li>
                          Each State or Territory has its own network of services that can help deal
                        with domestic & family violence. Find a local service in your area at
                        https://www.respect.gov.au/services/
                    </li>
                    <li>
                         For men who use violence or male survivors of domestic & family violence,
                        contact Mensline on 1300 78 99 78
                    </li>
                    <li>
                        For specific information about samesex domestic violence:
                        https://www.acon.org.au/what-wearehere-for/domestic-family-violence/
                    </li>
                    <li>
                      For information about receiving a
                        Centrelink crisis payment to help you
                        with immediate financial difficulties,
                        contact Centrelink on 13 2850 or find
                        information online at
                        www.centrelink.gov.au/internet/internet.nsf/payments/crisis.htm
                    </li>
                    <li>
                        For help finding services whether you are a survivor or a person who uses
                        violence, contact Lifeline on 13 11 14
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Features Section -->
