
@{
    ViewBag.Title = "KnowViolence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Features Section ======= -->




<section id="features" class="features section-bg">




    <div class="container">
        <div class="section-title">
            <p data-aos="fade-in" style="text-align:left"><a href="~/Home">Home</a> &nbsp>>&nbsp <a href="~/Home/RaiseAwarness">Raise awarness</a> &nbsp >> Know violence</p>
            <br />
            <h2 data-aos="fade-in">What are the effects of domestic & family violence?</h2>
            <p data-aos="fade-in">
                Victims develop survival skills to protect themselves and their children. They may ‘tiptoe’ around their partner’s moods or
                change their behaviour to ‘keep the  peace’. They sometimes withdraw from
                their friends and family. They try to protect children from seeing or hearing the abuse. They do everything
                exactly as their partner wishes, but still this does not stop the abuse.
                Some victims also try to fight back. Living in an abusive relationship can
                lead to depression; injury from assault; suicidal thoughts; panic and
                anxiety. You may have nightmares, be unable to sleep, stop eating
                properly, or feel confused and hopeless. These are normal reactions and
                many people overcome them with support
            </p>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/info/1.2.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-4" data-aos="fade-left">
                <h3>
                    Physical abuse
                </h3>
                <p class="font-italic">
                    It is when an abuser uses physical force against
                    another person in a way that injures the person or
                    puts them at risk of being injured
                </p>
                <p>
                    Physical abuse ranges from physical restraint to murder.
                    Some examples: grabbing, pinching, shoving,
                    slapping, hitting, breaking bones
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="~/assets/img/info/1.3.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h3>
                    Psychological or emotional abuse
                </h3>
                <p class="font-italic">
                    It can be verbal or nonverbal, and the actions or
                    behaviours are less obvious than with physical
                    abuse.
                </p>
                <p>
                    Physical abuse may seem worse, but verbal or nonverbal abuse can be very emotionally damaging. Some examples are: threatening or intimidating a person to gain compliance，destroying personal property and possessions, or threatening to do so，
                    being violent towards an object or pet, yelling or screaming…
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5" data-aos="fade-right">
                <img src="~/assets/img/info/1.4.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5" data-aos="fade-left">
                <h3>Sexual abuse</h3>
                <p>
                    It is often linked to physical abuse.
                    Some examples are:
                </p>
                <p>
                    Any sexual contact without consent,
                    such as rape (including marital rape),
                    attacks on the sexual body parts,
                    forced prostitution, unwanted
                    touching, forced sex with others,
                    being denied contraception when you
                    want to use it. Attempting to undermine a person’s sexuality, such as
                    being sexually derogatory, criticising sexual performance and
                    desirability, making accusations of infidelity, withholding sex.
                </p>
            </div>
        </div>

        <div class="row content">
            <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                <img src="~/assets/img/info/1.5.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
                <h3>Economic abuse</h3>
                <p>
                    Stealing from or defrauding a partner of money or assets, exploiting a partner’s resources for personal gain, withholding physical resources such as food, clothes, necessary medications, or shelter from a
                    partner, preventing a partner from working or choosing an occupation.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End Features Section -->
