
@{
    ViewBag.Title = "KnowViolence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="aa" style="padding:100px">
    <div class="container">
        <h2>wowowowowowow</h2>
    </div>
</section>

