
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ======= Raise Awarness Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Raise Awarness</h2>
            <p data-aos="fade-in">
                Don't be afraid of domestic violence, We are here to help.
                Start to know about..
            </p>
        </div>

        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/img/services-1.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="~/Home/Information1">Know the family violence</a></h5>
                        <p class="card-text">Family and domestic violence is any violent, threatening, coercive or controlling behaviour that occurs in current or past family, domestic or intimate relationships</p>
                        <br />
                        <br />
                        <br />
                        <div class="read-more"><a href="~/Home/Information1"><i class="bx bx-last-page"></i> Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/img/services-2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="~/Home/Information2">Effects of family violence on children</a></h5>
                        <p class="card-text">
                            Children of all ages have been found to have more problems when they have been exposed to family violence,
                            particularly coercive and controlling family violence.Children who are exposed to family violence have higher levels of emotional and
                            behavioural problems than children who have not.
                        </p>
                        <div class="read-more"><a href="~/Home/Information2"><i class="bx bx-last-page"></i> Read More</a></div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/img/services-3.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="~/Home/Information3">Why is elder woman risky</a></h5>
                        <p class="card-text">
                            In Australia, 6,866 older woman are seeking for a safe shelter. Their problems are always hidden from view.
                        </p>
                        <br />
                        <div class="read-more"><a href="~/Home/Information3"><i class="bx bx-last-page"></i> Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                <div class="card">
                    <div class="card-img">
                        <img src="~/assets/img/services-4.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="~/Home/Information4">Some tips for your needs!</a></h5>
                        <p class="card-text">
                            There are thousands of place which can help our includes government department, private organisations and 24 hour hotlines…
                        </p>
                        <div class="read-more"><a href="~/Home/Information4"><i class="bx bx-last-page"></i> Read More</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
